
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #222222;
$darkerGray: #333333;
$darkGray: #444444;
$gray: #666;
$lightGray: #eee;
$white: #fafafa;

// Font stacks
$helvetica: 'source-sans-pro',sans-serif, Helvetica, Verdana, Arial;
$helveticaNeue: "Helvetica Neue", Helvetica, sans-serif, Verdana, Arial;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}