<section class="content-header">
<h1 class="content-title">
{{- .Title -}}{{- if .Draft -}}&nbsp;:: Draft{{- end -}}
</h1>
{{- if .Params.subtitle -}}
<p class="subtitle">{{ .Params.subtitle }}</p>
{{- end -}}

{{- if and (.IsPage) (.Params.meta) -}}
<span class="content-meta">
  {{- if .Params.author -}}
  <span class="author">{{ .Params.author }}</span>&nbsp;·&nbsp;
  {{- end -}}
  {{- if not .Params.hidedate -}}
  <span class="date">{{ .Date.Format "2006-01-02" }}</span>&nbsp;·&nbsp;
  {{- end -}}
  {{- if not .Params.hidereadtime -}}
  <span>{{ .ReadingTime }} min read</span>
  {{- end -}}
</span>
{{- if .Params.tags -}}
<span class="content-meta tags">
  {{- range .Params.tags -}}
  <a href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>&nbsp;
  {{- end -}}
</span>
{{- end -}}
{{- end -}}

{{- if .Params.image -}}
<div class="featured-image">
  <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
</div>
{{- end -}}
</section>
