{{ define "main" }}
<article id="main" class="home-page">
{{ partial "brand.html" . }}

{{ with .Content }}<section>{{ . }}</section>{{ end }}

<section class="page-list">
{{ $pgFilter := where .Site.RegularPages "Draft" false 
    | intersect (where .Site.RegularPages "Params.date" "!=" nil) }}
{{ range (.Paginate $pgFilter).Pages }}
  <article class="post-preview">
    <h1 class="content-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>
    {{ partial "content-header.html" . }}
    {{ if .Description }}
      <p>{{ .Description }}</p>
    {{ else if .Site.Params.showSummary }}
      <p>{{ truncate 140 .Summary }}</p>
    {{ end }}
  </article>
{{ end }}
</section>

{{ if and (.Paginator) (gt .Paginator.TotalPages 1) }}
<nav class="pagination">
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">← Newer</a>
  {{ end }}
  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">Older →</a>
  {{ end }}
</nav>
{{ end }}

{{ partial "footer.html" . }}
</article>
{{ end }}
